<div class="jumbotron">
    <h1>Microsoft Cloud IPs Proof-of-Concept</h1>
    <p class="lead">REST API for accessing Office 365 and Azure IPs addresses and URLs</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Disclaimer</h2>
        <p>This is a proof-of-concept API built by Evan Basalik (evanba@microsoft.com). This code and any associated information are provided “as is” without warranty of any kind, either expressed or implied, including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose. The entire risk of use, inability to use, or results from the use of this code remains with the user.</p>
    </div>
</div>
